@charset "utf-8";
/* CSS Document */

@import 'https://fonts.googleapis.com/css?family=Baloo+Da';

html, body {
  font-family: 'Baloo Da', cursive;
  margin: 0;
  padding: 0;
}
main {
  	background: url(../images/background.jpg);
	background-size:cover;
	background-repeat:no-repeat;	
}

fieldset[disabled] .mdl-textfield .mdl-textfield__label, .mdl-textfield.is-disabled.is-disabled .mdl-textfield__label, fieldset[disabled] .mdl-textfield .mdl-textfield__input, .mdl-textfield.is-disabled .mdl-textfield__input {
  color: rgba(0,0,0,1);
}
.mdl-demo .mdl-layout.is-small-screen .mdl-layout__header-row h3 {
  font-size: inherit;
}
.mossa {
  cursor:pointer;	
}
.mdl-button {
  float:right;
}
.mdl-demo main > .mdl-layout__tab-panel {
  padding: 8px;
  padding-top: 48px;
}
.mdl-demo .mdl-card {
  height: auto;
  display: flex;
  flex-direction: column;
}
.mdl-demo .mdl-card > * {
  height: auto;
}
.mdl-demo .mdl-card .mdl-card__supporting-text {
  margin: 40px;
  flex-grow: 1;
  padding: 0;
  color: inherit;
  width: calc(100% - 80px);
}
.mdl-demo.mdl-demo .mdl-card__supporting-text h4 {
  margin-top: 0;
  margin-bottom: 20px;
}
.mdl-demo .mdl-card__actions {
  margin: 0;
  padding: 10px 40px;
  color: inherit;
}
.mdl-demo .mdl-card__actions p {
  margin: 0;
  line-height: 30px;
  font-style:italic;
}
.mdl-demo .mdl-card__supporting-text + .mdl-card__actions {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}
.mdl-demo .mdl-layout__content section:not(:last-of-type) {
  position: relative;
  margin-bottom: 48px;
}
.mdl-demo section.section--center {
  max-width: 860px;
}
.mdl-demo #features section.section--center {
  max-width: 620px;
}
.mdl-demo section > header{
  display: flex;
  align-items: center;
  justify-content: center;
}
header h3{
  text-align: center;
  text-transform: uppercase;
  font-family: 'Baloo Da', cursive;
  color:#BF0000;
}
input#winner{
  background: none;
  border: none;
  font-size:5rem;
  text-align:center;
  width: 100%;
  text-transform: uppercase;
  font-family: 'Baloo Da', cursive;
  color:#BF0000;
}
#score{ display:none;}

/*Responsive*/
@media screen and (max-width: 840px) {
	.mdl-textfield{
	  width: 100%;	
	}
	.mossa{
	  float:left;
	  margin:0 auto;
	  text-align:center;	
	}
	.mdl-demo .mdl-card__actions p {
	  text-align:center;
	}
	input#winner{
	  font-size:2rem;
	}
}
@media screen and (max-width: 400px) {
	.mdl-textfield{
	  width: 100%;	
	}
	.mossa img{
	  width:150px;	
	  height:150px;
	}
	.mdl-demo .mdl-card__actions p {
	  text-align:center;
	}
	input#winner{
	  font-size:1.5rem;
	}
}